@font-face {
    font-family: 'BeaufortForLoL-Bold';
    src: url(/assests/BeaufortForLoL-TTF/BeaufortforLOL-Bold.ttf);
}

@font-face {
    font-family: 'Spiegel-Regular';
    src: url(/assests/Spiegel-TTF/Spiegel_TT_Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Spiegel-Regular';
    background-color: #010A13;
}


h1 {
    color: #C89B3C;
    font-family: 'BeaufortForLoL-Bold';
}

